

.container {
    display: grid;
    justify-content: center;
    width: 434px;
    height: 640px;
    margin: auto;
    border: 4px solid black;
    border-radius: 5%;
    background-color: #231F20;
}

.display {
    height: 50px;
    display: block;
    border: 2px solid black;
    width: auto;
    margin-top: auto;
    margin-bottom: 20px;
    font-family: Monospace, Arial, Helvetica;
    text-align: right;
    padding: 15px 5px 0px 5px;
    text-align: end;
    font-weight: 500;
    font-size: 40px;
    background-color: #f1f4c6;
    text-shadow:2px 2px 2px rgba(59,50,50,0.59);
    box-shadow: -2px -6px 9px 0px rgba(0,0,0,0.38) inset;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

.button-container button:active {
    background-color: #f1f4c6;
    transform: translateY(2px);
}

.button-container button {
    display: inline-flex;
    align-items: center;
    flex: 1 0 21%;
    justify-content: space-evenly;
    margin: 2px;
    padding: 40px;
    border: none;
    border-radius: 20%;
    height: 50px;
    width: 50px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #EFE6DD;
    font-size: 34px;
    box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.75);
}

.button-container #equals {
    border-radius: 10%;
}

.button-container .clear {
    border-radius: 10%;
    background-color: #7EBDC2;
}

.button-container .operand {
    background-color: #F3DFA2;
    color: black;
    font-size: 40px;
}

.button-container .operate {
    background-color: #7EBDC2;
    color: black;
    font-size: 40px;
}